# Byte-compiled files
__pycache__/

# Diarize function temp files
diarize/

# Output annotated transcript file
annotated_transcript.txt

# Audio segments files
audio_long.wav-*.wav
audio_short.wav-*.wav